


.pricing {
    background-color: whitesmoke;
    padding-top: 50px;
    margin-top: 20px;
    padding-bottom: 50px;
}

.pricecardlist {
    display: grid ; 
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    


}

.pricecard {
    height: 300px;
    width: 260px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 30px;
}

.buttoncard {
    width:200px;
    height: 50px;
    border: 1px solid green;
    background: none;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}

.buttoncard:hover {
    background-color: green;
    color: white;
    
}
::placeholder{
    color:white;
}