.footer {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
}


.social {
    height:30px;
    width:30px;
    margin-left: 5px;
    margin-right: 5px;
}

.listitems {
    text-align: left;
}


@media (max-width:760px){
    .footer {
        display: block;
    }
    .footerinfo {
        align-content: center;
        margin-bottom: 20px;
    }
    
    .footexplore{
        display: block;
        margin-bottom: 20px;
        
    }

    .listitems{
            display: flex;
            justify-content: center;
    }
}
